.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4);
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loadingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-10);
}
